<% layout('/layout') %>

Request and download the report for a particular Project.  Please be patient as the report may take a few seconds to process.

<form action="/sast/report" method="POST" class="needs-validation">
  <div class="form-floating mb-3">
    <input class="form-control" required="true" id="token" name="token" value="<%- token %>" type="text" />
    <label for="token">Token (provided in your welcome package)</label>
  </div>
  <div class="mb-3">
    <input class="btn btn-primary btn-lg form-control" type="submit" value="Request a PDF report" />
  </div>
</form>
<% if ((typeof messages==="undefined")?false:messages) { %>
  <div class="mb-3">
    <ul style="color:red">
      <% messages.forEach(($)=>{ %>
        <li><%- $ %></li>
      <% }) %>
    </ul>
  </div>
<% } %>
<%- partial('../partial/curl') %>